:root {
    /* font-size */
    --fs-xs: 12px;
    --fs-sm: 14px;
    --fs-base: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 21px;
    --fs-3xl: 20px;
    --fs-4xl: 30px;
    --fs-5xl: 36px;
    --fs-6xl: 20px;
    --fs-7xl: 20px;
    --fs-8xl: 20px;
    --fs-9xl: 45px;

    /* line-height */

    --lh-base: 24px;
    --lh-lg: 27px;
    --lh-xl: 30px;
    --lh-2xl: 30px;
    --lh-3xl: 30.2px;
    --lh-4xl: 38px;
    --lh-5xl: 44px;
    --lh-9xl: 51px;

    /* color */
    --color-white-primary: #FFFFFF;
    --color-black-primary: #000000;
    --color-black-secondary: #101A2E;
    --color-orange-primary: #FA6A00;
    --color-orange-secondary: #FA6A0099;
    --color-gray-primary: #636363;
    --color-gray-light: #101A2E1A;
    --color-gray-secondary: #E3FAFF0D;
    --color-skyblue-light: #F5FDFF;
    --color-accordion2: #F3F3F4;
    --color-accordion3: #FDF9F2;
    --color-accordion4: #FFF3EA;
    --color-accordion5: #C6C8CC;
    --color-gray-light1: #DCDDE0;
    --color-gray-light2: #E5E3DE;
    --color-gray-light3: #E7DDD7;
}

.skyblue {
    background-color: var(--color-skyblue-light);
}

.accordion-color2 {
    background-color: var(--color-accordion2);
}

.accordion-color3 {
    background-color: var(--color-accordion3);
}

.accordion-color4 {
    background-color: var(--color-accordion4);
}

.bg-orange-primary {
    background: var(--color-orange-primary);
}

.text-secondary-black {
    color: var(--color-black-secondary);
}

.text-base {
    font-size: var(--fs-base);
    line-height: var(--lh-base);
}

.text-lg {
    font-size: var(--fs-lg);
    line-height: var(--lh-lg);
}

.text-xl {
    font-size: var(--fs-xl);
    line-height: var(--lh-xl);
}

.text-2xl {
    font-size: var(--fs-2xl);
    line-height: var(--lh-2xl);
}

.text-3xl {
    font-size: var(--fs-3xl);
    line-height: var(--lh-3xl);
}

.text-4xl {
    font-size: var(--fs-4xl);
    line-height: var(--lh-4xl);
}

.text-5xl {
    font-size: var(--fs-5xl);
    line-height: var(--lh-5xl);
}

.text-9xl {
    font-size: var(--fs-9xl);
    line-height: var(--lh-9xl);
}

@media (min-width:576px) {
    :root {
        /* font-size */
        --fs-9xl: 52px;

        /* line-height */
        --lh-9xl: 62px;
    }
}

@media (min-width:768px) {
    :root {
        /* font-size */
        --fs-5xl: 42px;
        --fs-9xl: 72px;

        /* line-height */
        --lh-5xl: 50px;
        --lh-9xl: 82px;
    }
}

@media (min-width:992px) {
    :root {
        /* font-size */
        --fs-xs: 12px;
        --fs-sm: 14px;
        --fs-base: 16px;
        --fs-lg: 18px;
        --fs-xl: 20px;
        --fs-2xl: 24px;
        --fs-3xl: 28px;
        --fs-4xl: 32px;
        --fs-5xl: 48px;
        --fs-6xl: 20px;
        --fs-7xl: 20px;
        --fs-8xl: 20px;
        --fs-9xl: 96px;

        /* line-height */

        --lh-base: 24px;
        --lh-3xl: 39.2px;
        --lh-4xl: 45px;
        --lh-5xl: 57px;
        --lh-9xl: 115px;
    }
}