:root {
    /* font-size */
    --fs-xs: 12px;
    --fs-sm: 14px;
    --fs-base: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 30px;
    --fs-4xl: 36px;
    --fs-5xl: 20px;
    --fs-6xl: 20px;
    --fs-7xl: 20px;
    --fs-8xl: 20px;
    --fs-9xl: 20px;

    /* line-height */

    --lh-base: 24px;

    /* color */
    --color-white-primary: #FFFFFF;
    --color-black-primary: #000000;
    --color-orange-primary: #FA6A00;
}

.text-base {
    font-size: var(--fs-base);
    line-height: var(--lh-base);
}