@import url(./root.css);

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none !important;
    outline: none !important;
}

/* font-family */

@font-face {
    font-family: "Acumin Pro";
    src: url(../font/FontsFree-Net-Acumin-Pro-Book.ttf);
}

@font-face {
    font-family: "TitlingGothicFB Cond";
    src: url(../font/TitlingGothicFB_Cond_Bold.otf);
}

.font-Acumin {
    font-family: "Acumin Pro", sans-serif;
}

.font-TitlingGothicFB {
    font-family: "TitlingGothicFB Cond";
}

/* z-index--opacity */

.z-10 {
    z-index: 10;
}

.opacity-70 {
    opacity: 70%;
}

.opacity-90 {
    opacity: 90%;
}

/* height--width */

.w-fit {
    width: fit-content;
}

.max-w-730 {
    max-width: 730px;
}

.max-w-592 {
    max-width: 592px;
}

.max-w-498 {
    max-width: 498px;
}

.max-w-418 {
    max-width: 418px;
}

.max-w-544 {
    max-width: 544px;
}

.max-w-351 {
    max-width: 351px;
}

.height-250 {
    height: 250px;
}

.height-411 {
    height: 411px;
}

.w-85 {
    width: 85%;
}

.w-70 {
    width: 70px;
}

.h-70 {
    height: 70px;
}

/* section */

.bg-img {
    background-image: url(../image/png/hero-section-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-1 {
    background-image: url(../image/png/sec1-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-4 {
    background-image: url(../image/png/secc4-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.icon-location {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: var(--color-orange-primary);
    place-items: center;
}

.nav-move {
    width: 1140px;
    animation: move 4s infinite linear;
}

.hover-op100:hover {
    opacity: 100%;
}

.nav-move:hover {
    animation-play-state: paused;
}

@keyframes move {
    0% {
        margin-left: 400px;
    }

    100% {
        margin-left: -800px;
    }
}

.nav-bar {
    min-height: 70px;
    border-radius: 16px;
    padding-left: 45px;
    padding-right: 45px;
}

.nav-heading {
    color: var(--color-gray-primary);
    transition: all 300ms linear;
}

.nav-heading:hover {
    color: var(--color-orange-primary);
}

.menu-list {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--color-white-primary);
    flex-direction: column;
    top: 0%;
    right: -100%;
    justify-content: center;
    z-index: 10;
    transition: all 300ms linear;
}

.show-heading {
    right: 0;
}

.menu-icon {
    width: 42px;
    height: 28px;
    z-index: 15;
}

.menu-icon span {
    width: 100%;
    background-color: var(--color-orange-primary);
    display: flex;
    height: 4px;
    transition: all 300ms linear;
}

.menu-icon:hover .line2 {
    width: 70%;
}

.menu-icon:hover span {
    border-radius: 2px;
}

.cursor-pointer {
    cursor: pointer;
}

.active-icon .line1,
.active-icon .line2 {
    display: none;
}

.active-icon {
    justify-content: end !important;
}

.line3::after {
    content: "CLOSE";
    font-family: "Acumin Pro", sans-serif;
    color: var(--color-orange-primary);
    position: absolute;
    transform: translateY(100px);
    left: 0%;
    font-size: var(--fs-xs);
    font-weight: 700;
    transition: all 300ms linear;
}

.active-icon .line3::after {
    transform: translateY(-17px);
}

.bg-color-light-blur {
    background: var(--color-gray-secondary);
    backdrop-filter: blur(22px);
}

.rounded-16 {
    border-radius: 16px;
}

.rounded-24 {
    border-radius: 24px;
}

.car-cleaing {
    transition: all 300ms linear;
}

.img-box:hover .car-cleaing {
    scale: 1.05;
}

/* button--icon */

.btn-call {
    box-shadow: 0px 0px 26.2px 0px var(--color-orange-secondary);
    background-color: var(--color-orange-primary);
    transition: all 300ms linear;
    padding: 16px;
    border-radius: 84px;
    border: none;
}

.btn-call:hover {
    color: var(--color-orange-primary) !important;
    background-color: var(--color-white-primary);
    box-shadow: inset 0 0 12px var(--color-orange-primary);
}

.icon-tick {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background-color: var(--color-orange-primary);
    place-items: center;
}

/* padding-margin */

.py-14 {
    padding-top: 14px;
    padding-bottom: 14px;
}

.mt-87 {
    margin-top: 87px;
}

.mt-36{
    margin-top: 36px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mt-40 {
    margin-top: 40px;
}

.px-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.py-22 {
    padding-top: 22px;
    padding-bottom: 22px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-16 {
    margin-top: 16px;
}

.pr-34 {
    padding-right: 34px;
}

.mt-13 {
    margin-top: 13px;
}

.mt-6 {
    margin-top: 6px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-271 {
    margin-top: 271px;
}

.mb-158 {
    margin-bottom: 158px;
}

.mt-28 {
    margin-top: 28px;
}

.pb-121 {
    padding-bottom: 121px;
}

.mt-9 {
    margin-top: -9px;
}

.mt-15 {
    margin-top: -15px;
}

/* gap--top */
.gap-10 {
    gap: 10px;
}

.gap-24 {
    gap: 24px;
}

.gap-28 {
    gap: 28px;
}

.gap-12 {
    gap: 12px;
}

.gap-16 {
    gap: 16px;
}

.top-7 {
    top: -7px;
}

/* media */

@media (max-width:992px) {
    .overflow-lg-hidden {
        overflow: hidden;
    }
}

@media (min-width:576px) {
    .height-sm-450 {
        height: 450px;
    }

    .w-sm-70 {
        width: 70%;
    }
}

@media (min-width:768px) {
    .w-md-auto {
        width: auto !important;
    }

    .w-md-65 {
        width: 65%;
    }

    .w-md-55 {
        width: 55%;
    }
}

@media (min-width:992px) {
    .menu-list {
        position: unset;
        width: fit-content;
        height: fit-content;
        background-color: transparent;
        flex-direction: row;
        top: 0%;
        left: 0%;
        justify-content: center;
        z-index: 10;
        transition: all 300ms linear;
    }

    .bg-img {
        background-size: 100% 100%;
        background-position: unset;
    }

    .section-1 {
        background-position: unset;
    }

    .position-lg-absolute {
        position: absolute !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .mt-lg-271 {
        margin-top: 271px;
    }

    .mb-lg-158 {
        margin-bottom: 158px;
    }

    .height-lg-auto {
        height: auto;
    }

    .mt-lg-42 {
        margin-top: -42px;
    }
}

@media (min-width:1200px) {

    .container {
        max-width: 1140px !important;
    }

    .nav-container {
        max-width: 1230px !important;
    }

    .overflow-xl-x-visible {
        overflow-x: visible !important;
    }

    .nav-move {
        animation: none;
        width: 100%;
    }

    .w-xl-auto {
        width: auto !important;
    }

    .gap-xl-28 {
        gap: 28px;
    }

    .mt-xl-271 {
        margin-top: 271px;
    }

    .top-xl-46 {
        top: 46% !important;
    }

    .top-xl-22 {
        top: 22% !important;
    }
}

@media (min-width:1400px) {
    .w-2xl-auto {
        width: auto !important;
    }

    .mt-2xl-80 {
        margin-top: -80px;
    }
}